<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesProductIndex.css">
    </head>
        
        
    <body>
        <%- include('./partials/header') %>
        <main>
            <div class="prodindex-div-topsection">
                <h1>LISTADO DE PRODUCTOS</h1>
            </div>
            <div>
                <form action="/products/create">
                    <input type="submit" value="AGREGAR ARTICULO" />
                </form>            
            </div>
           
            <div>
                <% let varHref = '' %>
                <% for(let i=0; i < inventario.length; i++) { %>
                    <% varHref = '/products/' + inventario[i].ID + '/edit' %>
                    <% varHref2 = '/products/' + inventario[i].ID + '/?_method=DELETE' %>
                <ul class="prodindex-div-prodlist">
                    <li class="linum"><%= i + 1 %></li>
                    <li class="lidesc"><%= inventario[i].NOMBRE %></li>
                    <li class="liid"><%= inventario[i].ID %></li>
                    <li class="liver">
                        <a href="<%= '/products/' + inventario[i].ID %>">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    </li>
                    <li class="liedit">
                        <a href=<%= varHref %>>
                            <i class="fa-solid fa-pen"></i>
                        </a>
                    </li>
                    <li class="lidel">
                        <!--<a href="<%= varHref2 %>">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>-->
                        <form action="/products/<%= inventario[i].ID  %>/?_method=DELETE" method="POST" class="formProductCreate">                            
                            <button type="submit">
                                <i class="fa-solid fa-trash-can"></i>
                            </button><br>
                        </form>
                    </li>                   
                </ul>
                <% } %>
            </div>
        </main>
        <%- include('./partials/footer') %>
    </body>
</html>