<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
        <script type="text/javascript" src="/js/productCart.js"></script>
    </head>
<body>
    
        <%- include('./partials/header') %>

    <main>

        <h1 class="headerDescripcionDelProducto headerPrincipal"><br>CARRITO DE COMPRAS<br><br></h1>
        
        <form action="/ordenes/procesarCompra" method="POST" enctype="application/x-www-form-urlencoded" id="formCarrito" >
            <section class="seccionCartHeader">
                <header class="col1">PRODUCTO</header>            
                <header class="col2">PRECIO</header>
                <header class="col3">CANTIDAD</header>
                <header class="col4">TOTAL</header>
                <header class="col5">ELIMINAR</header>
            </section>
            <div id="carritoContenedorProductos">
                <% for(i=1;i<=20;i++) { %>
                    <% console.log('i = ' + i) %>
                <section class="seccionCartL1" id="carrito-product-row-<%= i %>"
                    <% if(i==1) { %>
                        <%=    "style=display:flex"   %>
                        <% } else { %>
                        <%=    "style=display:none"  %>
                        <% } %>                
                    >
                    <!--sección de descripción del producto-->
                    <section class="seccionDescripcionDelProducto cartTableCell col1">
                        <!--header para el nombre del producto-->
                        <header class="headerDescripcionDelProducto cartTableCellDescL1">
                            <p id="producto-nombre-<%= i %>">
                                PRODUCTO MUESTRA
                            </p>
                            <input id="input-producto-nombre-<%= i %>" name="producto-nombre-<%= i %>" class="cartTableCellInvisible">
                        </header>
                        <!--articulo para describir el producto-->
                        <article class="articuloDescripcionDelProducto">
                            <p id="producto-descripcion-<%= i %>">
                                DESCRIPCION MUESTRA
                            </p>
                            <input id="input-producto-descripcion-<%= i %>" name="producto-descripcion-<%= i %>" class="cartTableCellInvisible">
                        </article>
                    </section>
                    <!--Precion del producto-->
                    <article class="articlePrecioProducto cartTableCell col2">
                        <p style="display:inline">$</p>
                        <p id="producto-precio-<%= i %>" style="display:inline">123</p>
                        <input id="input-producto-precio-<%= i %>" name="producto-precio-<%= i %>" class="cartTableCellInvisible">
                    </article>    
                    <article class="articlePrecioProducto cartTableCell col3">
                        <p id="producto-cantidad-<%= i %>" style="display:inline">0</p>
                        <input id="input-producto-cantidad-<%= i %>" name="producto-cantidad-<%= i %>" class="cartTableCellInvisible">
                    </article>  
                    <article class="articlePrecioProducto cartTableCell col4">
                        <p style="display:inline">$</p>
                        <p id="producto-total-<%= i %>" style="display:inline">0</p>
                        <input id="input-producto-total-<%= i %>" name="producto-total-<%= i %>" class="cartTableCellInvisible">
                    </article> 
                    <article class="articlePrecioProducto cartTableCell col5">
                        <button onclick="funEliminarArticulo(<%= i %>)" class="botonEliminar">X</button>
                    </article>                                               
                    <article class="cartTableCellInvisible">
                        <p id="producto-id-<%= i %>">X</p>
                        <input id="input-producto-id-<%= i %>" name="producto-id-<%= i %>" class="cartTableCellInvisible">
                    </article>                 
                </section>
                <% } %>
                <div class="seccionCartL1" id="div-carrito-totales" style="justify-content: left;">
                    <!--header para el nombre del producto-->
                    <header class="headerDescripcionDelProducto cartTableCell" style="width:75%;text-align: right;">
                        <p>
                            TOTAL
                        </p>
                        
                    </header>
                    <!--articulo para describir el producto-->
                    <article class="headerDescripcionDelProducto cartTableCell col4">
                        <p style="display:inline">$</p>
                        <p id="div-carrito-totales-cantidad" style="display:inline">
                            123
                        </p>
                        <input id="input-div-carrito-totales-cantidad" name="inputtotaldeorden" class="cartTableCellInvisible">
                    </article>
                </div> 
                <button type="submit" class="boton col4">COMPRAR 1</button>           
            </div>

        </form>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>
