<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <%- include('./partials/header') %>
        <main>
            <% if(locals.userData && userData.NOMBRE) { %>
                <div class="profile-div-h2">
                    <h2>Perfil del miembro</h2>
                </div>
                <div class="profile-div-main">
                    <div class="profile-div-black">
                        <p>Nombre del miembro:</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.NOMBRE %></p>
                    </div> 
                    <div class="profile-div-black">
                        <p>Apellido del miembro:</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.APELLIDO %></p>
                    </div>   
                    <div class="profile-div-black">
                        <p>Nombre de usuario:</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.USUARIO %></p>
                    </div> 
                    <div class="profile-div-black">
                        <p>Correo electronico:</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.EMAIL %></p>
                    </div>   
                    <div class="profile-div-black">
                        <p>Fecha de nacimiento</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.FECHA_NACIMIENTO %></p>
                    </div>   
                    <div class="profile-div-black">
                        <p>Domicilio</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.DOMICILIO %></p>
                    </div>  
                    <div class="profile-div-black">
                        <p>Pais</p>
                    </div>
                    <div class="profile-div-white">
                        <p><%= userData.PAIS %></p>
                    </div>  
                                                                                                                                   
                </div>
                <div class="profile-div-h2">
                    <form action="/users/profileEdit" method="GET">
                        <button type="submit" class="but-submit">Editar informacion de usuario</button><br>
                    </form>      
                    <form action="/users/logout" method="GET">
                        <button type="submit" class="but-submit">Salir</button><br>
                    </form>
              
                </div>                
            <% } else { %>
                <div class="profile-div-h2">
                    <h2>Usuario no registrado aun</h2>
                </div>
            <% } %>                         
        </main>
        <%- include('./partials/footer') %>
        <p style="text-align:left">Copyright &copy; 2023 Convenciones Internacionales S.R.L.</p>  
    </body>
</html>